* {
    /* MARGIN controla a área vazia entre o elemento e outros elementos próximos */
    margin: 0;
    /* PADDING define o espaço entre o conteúdo de um elemento HTML e sua borda */
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
body {
    /* HEIGHT especifica a altura do conteúdo de um elemento e o vh é relacionado com a altura do viewport */
    height: 100vh;
    /* BOX-SIZING BORDERBOX faz com que a largura e altura de um elemento considerem a tag pai */
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 10%;
    /* DISPLAY é usado para controlar facilmente a disposição, o espaçamento, a ordem e o alinhamento dos elementos filhos */
    display: flex;
    /* ALIGN-ITEMS controla como os itens são alinhados verticalmente dentro do contêiner flexível. */
    align-items: center;
    /* JUSTIFY-CONTENT permite controlar o posicionamento dos itens flexíveis dentro do contêiner flexível ao longo do eixo principal. */
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    /* FLEX-DIRECTION muda a posição padrão do posicionamento, neste caso deixa em colunas */
    flex-direction: column;
    /* GAP muda o espaçamento dos elementos filhos */
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__botao {
    background-color: #22D4FD;
    width: 280px;
    border-radius: 16px;
    /* TEXT-ALIGN muda a posição do texto na horizontal */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    /* PADDING primero valor altera na horizontal e o segundo na vertical */
    padding: 21.5px 0;
    /* text-decoration tira o efeito de link da âncora */
    text-decoration: none;
    color: black;
}